<section class="default-gallery-header">
  <div class="container-fluid">
    <div class="col-sm-12 default-head-content">
      <div class="default-services-show">
        <h1 class="text-center">Contact Me!</h1>
        <hr>
      </div>
    </div>
  </div>
</section>


<div class="container">
  
  <div class="row">
    <div class="templatecontent row">
      <div class="row">
          
        <div class="col-sm-6">
          <div class="well">
            <h2 class="text-center">Location</h2>
            <hr>
            <ul style="margin-bottom: 45px;">
              <li><strong>Name</strong></li>
              <li>Address</li>
              <li>Address2</li>
              <li>123-456-7890</li>
              <li>AHoytDeveloper@gmail.com</li>
            </ul>
          </div>
        </div>
    
        <div class="col-sm-6">
          <div class="well">
            
            <h2 class="text-center">Hours of Operation</h2>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Monday</td>
                  <td>7:00 AM - 5:00 PM</td>
                </tr>
                  <td>Tuesday</td>
                  <td>7:00 AM - 5:00 PM</td>
                </tr>
                  <td>Wednesday</td>
                  <td>7:00 AM - 5:00 PM</td>
                </tr>
                  <td>Thursday</td>
                  <td>8:00 AM - 5:00 PM</td>
                </tr>
                  <td>Friday</td>
                  <td>8:00 AM - 5:00 PM</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>


<!-- Contact Us Form --> 
<div class="container">
  <div class="well">
    
  <%= form_for "/contacts" do |f| %>
    
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
          
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
          
    <div class="form-group">
      <%= f.label :comments %>
      <%= f.text_area :comments, class: 'form-control' %>
    </div>
    
    <div class="text-center">
      <button type="button" class="btn btn-primary btn-lg">Submit</button>
    </div>
   
  <% end %>
  
  </div>
</div>

<div class="container">
  <div class="row text-center">
  </div>
</div>
